body {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 300;
}

.inner {
    display: flex;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    background: #eb510a;
    border: 1px, solid, #000000;
    border-radius: 50%;
    top: 0px;
    left: auto;
    right: 700px;
    bottom: 150px;
    position: sticky;
}

.rectangle {
    width: 800px;
    height: 100px;
    background: #96857e;
    border: 1px, solid #000000;
    border-radius: 20px;
    top: 0px;
    left: 50%;
    right:50px;
    bottom: 100px;
    z-index: -1;
    position: sticky;
}