div {
    background: #0d0d0d;
    color: #f9f6f6;
    width: 600px;
    height: 118px;
}
    .DV1 {
    color: #bc46b3;
    background: none;
}
    .DV2 {
    background: #9a3002;
    width: 100px;
    height: 100px;
}
    .DV3 {
    background: #bb81e7;
    color: black;
    width: 300px;
    height: 20px;
}
    .DV4 {
    background: #bb81e7;
    color: azure;
    width: 300px;
    height: 56px;
}
span {
background: #652299;
}